atomicwrites==1.4.1
autopep8==1.6.0
binaryornot==0.4.4
black==23.1.0
captum==0.7.0
cloudpickle==2.2.1
contourpy==1.0.6
edflib-python==1.0.6
factor-analyzer==0.4.1
fastapi==0.74.0
fastparquet==2023.2.0
flake8==6.0.0
fqdn==1.5.1
freesurfer-stats==1.2.1
ggseg==0.1
grad-cam==1.5.0
graphviz==0.20.1
guidata==2.3.1
httptools==0.3.0
httpx==0.24.1
intervaltree==3.1.0
isoduration==20.11.0
jellyfish==0.9.0
jinja2-time==0.2.0
jsonpointer==2.3
jupyter==1.0.0
kaleido==0.2.1
keyring==23.13.1
lifelines==0.27.3
lightgbm==3.3.5
minio==7.1.12
mne-qt-browser==0.4.0
mpld3==0.5.7
nibabel==5.2.1
numpydoc==1.5.0
paramiko==2.11.0
pexpect==4.8.0
pingouin==0.5.2
pip-chill==1.0.1
pmdarima==1.8.5
pyactigraphy==1.2.1
pydocstyle==6.2.3
pyedflib==0.1.30
pylint==2.16.2
pylint-venv==3.0.1
pyqtwebengine==5.15.6
pyreadstat==1.1.9
pytest==7.4.0
python-dotenv==0.19.2
python-lsp-server==1.7.1
python-slugify==8.0.1
pythonqwt==0.10.2
pytoolconfig==1.2.5
pywavelets==1.4.1
qstylizer==0.2.2
qtawesome==1.2.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rtree==1.0.1
semopy
spykeutils==0.4.3
sqlalchemy==1.4.46
tables==3.8.0
textdistance==4.5.0
three-merge==0.1.1
torch==2.2.2
trino==0.326.0
uri-template==1.2.0
uvicorn==0.17.5
validators==0.20.0
visbrain==0.4.5
watchdog==2.1.9
watchgod==0.7
webcolors==1.12
websockets==10.1
whatthepatch==1.0.4
yapf==0.32.0
yasa==0.6.1
zepid==0.9.1
